<nav class="main-menu">
    <header>
        <button><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg></button>
        <img src="logo_kipkip_designs.png" alt=""></header>
    <ul id="menu-deroulant">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Porfolio</a>
            <!-- <ul>
                <li><a href="#">Lien sous menu 2</a></li>
                <li><a href="#">Lien sous menu 2</a></li>
                <li><a href="#">Lien sous menu 2</a></li>
                <li><a href="#">Lien sous menu 2</a></li>
            </ul> -->
        </li>
        <li><a href="#">Contact</a></li>
        <!-- <li><a href="#">Blog</a></li> -->
    </ul>
</nav>
